@font-face {
  font-family: Outfit;
  src: url(./font/Outfit-Regular.ttf);
}

* {
  font-family: Outfit, Arial, sans-serif;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
}

/* ganze Visitenkarte */
section {
  background-color: hsl(0, 0%, 100%);
  margin: 120px auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 20px;
  width: 288px;
  padding-top: 15px;
  box-shadow: 0 0 5px hsl(220, 15%, 55%);
}

/* QR-Code */
div {
  background: url(./images/image-qr-code.png) center no-repeat;
  background-size: cover;
  background-color: hsl(218, 44%, 22%);
  border-radius: 20px;
  width: 270px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Textfeld */
h1 {
  font-size: 22px;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  padding: 0 20px;
}
p {
  font-size: 15px;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 15%, 55%);
  width: 250px;
  padding: 10px;
}
