.todo-list-item {
  /* display: flex;
  gap: 10px; */

  width: 500px;

  position: relative;
  padding: 10px;
  padding-right: 80px;

  border-radius: 10px;

  margin-bottom: 10px;
}

.todo-list-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.29);
}

.todo-list-item a {
  display: flex;
  justify-content: space-between;
}

.todo-list-item div {
  display: flex;
  gap: 20px;
}

.todo-list-item button {
  position: absolute;
  top: 5px;
  border: none;
  background: none;
  height: 20px;
  cursor: pointer;
}
.todo-list-item button:first-of-type {
  right: 40px;
  margin-right: 10px;
}
.todo-list-item button:last-of-type {
  right: 20px;
}
