@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-VariableFont_wght.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font-color: #a16171;
  --main-bg-color: #264653;
  --secondary-color: #2a9d8f;
  --secondary-font-color: #ffffff;
  --favorites-color: #e9c46a;
}

html {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  font-size: clamp(3rem, 4vw, 4.8rem);
  color: var(--main-font-color);

  margin-bottom: 2rem;
}

p {
  color: var(--secondary-font-color);
}

a {
  text-decoration: none;
}

.green-btn {
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
  border: none;
  border-radius: 3.125rem;
  padding: 10px 20px;
  cursor: pointer;
}

.yellow-btn {
  border: 1px solid var(--favorites-color);
  color: var(--favorites-color);
  border-radius: 3.125rem;
  background-color: transparent;
  padding: 10px;
  font-weight: 800;
  cursor: pointer;
}

.transparent-green-btn {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 3.125rem;
  background-color: transparent;
  padding: 10px;
  font-weight: 800;
}

input,
textarea {
  border-radius: 3.125rem;
  border: 1px solid #2a9d8f;
  background-color: transparent;
  padding: 10px 20px;
  color: #2a9d8f;
  min-width: 25rem;
}

textarea {
  font-size: 1rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

::placeholder {
  color: #2a9d8f;
  font-size: 1rem;
}
