footer {
  background-color: #2a9d8f;

  display: flex;
  justify-content: space-between;

  padding: 2rem 4rem;
}

footer p {
  color: var(--main-bg-color);

  display: flex;
  align-items: center;
  gap: 10px;
}

footer div {
  display: flex;
  align-items: center;
  gap: 15px;
}
