* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 211, 211);
}

img {
  width: 300px;
  height: 200px;
}

/* Box für Bild UND Text */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* damit der Text gleich unterhalb des Bildes verschwindet, muss für den Container gelten, dass überlaufender Text versteckt wird */
  overflow: hidden;
}

/* Box für Text */
.discover {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(169, 169, 169, 0.634);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;

  width: 300px;
  height: 200px;

  /* um den Text dank overflow oben unterhalb des Bildes verschwinden zu lassen, muss seine Position-Top unter dem Bild liegen (zB bei 200px) */
  position: absolute;
  top: 200px;
  transition: 1s linear;
}

/* von Position-Top 200px zu Position-Top 0px, damit slidet es dann von unten nach oben rein */
.container:hover .discover {
  top: 0px;
}
