* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #ebeaec;
  /* border: 1px solid black; */
}

/* Hintergrundblau des gesamten Headers */
header {
  background-color: #7b8ce4;
  height: 100vh;
}

/* sticky Positionierung der obersten Zeile (Logo und Navigation) */
section {
  position: sticky;
  top: 0;
  /* * margin-bottom: 40px; */
}

/* Logo */
h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

/* Navigationsleiste */
nav {
  position: fixed;
  top: 0;
  right: 40px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 10px;
}

/* Textblock */
.textblock {
  text-align: center;
  width: 500px;
  position: relative;
}

.textblock h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  /* width: 150px; */
  color: #ffeccc;
  position: absolute;
  top: 300px;
  left: 300px;
}

.textblock p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 350px;
  position: absolute;
  top: 400px;
  left: 225px;
}

/* Get started-Button */
.textblock a {
  background-color: #ebeaec;
  color: #3f414e;
  padding: 10px 45px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  position: absolute;
  top: 460px;
  left: 300px;
  width: 120px;
}

/* ! Bild rechts */
/* alternative Fassung mit nur einem Bild folgt auskommentiert:
.bild {
  position: absolute;
  top: 210px;
  right: 300px;
} */

.bild {
  position: relative;
}

.frau {
  position: absolute;
  top: 310px;
  right: 290px;
}

.wolke1 {
  position: absolute;
  top: 300px;
  right: 300px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: wolke1run;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes wolke1run {
  0% {
    left: 75%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 75%;
  }
}

.wolke2 {
  position: absolute;
  top: 300px;
  right: 600px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: wolke2run;
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes wolke2run {
  0% {
    left: 62%;
  }
  50% {
    left: 68%;
  }
  100% {
    left: 62%;
  }
}
