.detailpage {
  background-color: var(--main-bg-color);
  padding: 10rem 4rem;

  min-height: 100lvh;
}

.detailpage p {
  margin-bottom: 1.25rem;
}

.detailpage button {
  margin-right: 20px;
  cursor: pointer;
}

.detailpage section {
  display: flex;
  justify-content: center;
  gap: 50px;

  margin-top: 2rem;
}

.detailpage section article img {
  width: 500px;
}

.detailpage section article {
  width: 50%;
}

.detailpage section article div {
  display: flex;
  gap: 1rem;

  margin-bottom: 1.25rem;
}
