label {
  display: block;
  margin: 10px 0px 5px 0px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

label span {
  color: red;
}

#name {
  width: 200px;
  height: 30px;
}

input[type="email"] {
  width: 410px;
  height: 30px;
}

select {
  width: 420px;
  height: 30px;
  padding: 2px;
}

textarea {
  width: 415px;
}

input[type="submit"] {
  background-color: teal;
  color: white;
  text-align: center;
  width: 420px;
  height: 30px;
}
