header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.dark {
  background-color: grey;
  color: white;
}

.dark a {
  color: white;
}
