@font-face {
  font-family: Lexend Deca;
  src: url(../font/LexendDeca-Regular.ttf);
}

@font-face {
  font-family: Big Shoulders Display;
  src: url(../font/BigShouldersDisplay-Regular.ttf);
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* - Hintergrund der Seite */
article {
  background-color: hsl(0, 0%, 95%);
  height: 650px;
  padding: 250px;
}

/* # Wie kriege ich den Abstand zwischen den einzelnen sections weg? */

/* - die drei Sections */
.sedan {
  background-color: hsl(31, 77%, 52%);
  display: inline-block;
  width: 250px;
  padding: 20px 20px 60px 20px;
  margin: 0 auto;
  border-radius: 10px 0 0 10px;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  display: inline-block;
  width: 250px;
  padding: 20px 20px 60px 20px;
  margin: 0 auto;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  display: inline-block;
  width: 250px;
  padding: 20px 20px 60px 20px;
  border-radius: 0 10px 10px 0;
  margin: 0 auto;
}

/* - Bilder */
img {
  padding: 15px;
}

/* - allgemeine Angaben zu Textblöcken */
h2 {
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  font-weight: 700;
  font-size: 40px;
  padding: 15px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 80px;
  margin-right: 20px;
  padding: 15px;
  line-height: 30px;
}

/* - Learn-more-Buttons inkl. Hovering */
.sedan a {
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 15px;
  color: hsl(31, 77%, 52%);
}

.sedan a:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

.suvs a {
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 15px;
  color: hsl(184, 100%, 22%);
}

.suvs a:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

.luxury a {
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 15px;
  color: hsl(179, 100%, 13%);
}

.luxury a:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}
