.hero {
  background: url(/img/shop.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero h2 {
  color: white;
  background-color: rgba(148, 145, 145, 0.829);
  border-radius: 20px;
  padding: 20px;
  max-width: 23ch;
  text-align: center;

  margin: 0 2rem;
  margin-bottom: 4rem;
}

.hero a {
  font-size: 2.5rem;
}
