@font-face {
  font-family: Figtree;
  src: url(../fonts/Figtree-VariableFont_wght.ttf);
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: Figtree;
  color: hsl(0, 0%, 7%);
}

/* * Hintergrund */
article {
  background-color: hsl(47, 88%, 63%);
  height: 565px;
  padding: 50px;
}

/* * ganze Visitenkarte */
section {
  background-color: white;
  width: 380px;
  margin: 0 auto;
  border: 2px solid hsl(0, 0%, 7%);
  box-shadow: 7px 7px 1px hsl(0, 0%, 7%);
  border-radius: 20px;
  padding-bottom: 20px;
}

/* * Bild oben */
div:first-of-type {
  padding: 20px;
}

div svg {
  border-radius: 10px;
}

/* * Ab hier folgt die Textbox */
h1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
}

h1 a {
  text-decoration: none;
}

h2 {
  text-align: left;
  font-weight: 800;
  font-size: 14px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 10px;
  display: inline;
  padding: 5px 10px;
  margin-left: 20px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

p {
  color: hsl(0, 0%, 50%);
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 30px;
}

/* * Autor */
div a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
  font-size: 14px;
}

img {
  padding-left: 20px;
  width: 35px;
  vertical-align: middle;
}
