.detailpage {
  margin-bottom: 4rem;
}

.detailpage img {
  height: 80lvh;
  width: 100vw;
  object-fit: cover;
  margin-bottom: 4rem;
}

.detailpage div {
  position: absolute;
  top: 40lvh;
  left: 100px;

  padding: 1.5rem;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.865);
}

.detailpage h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.detailpage p {
  padding-inline: 4rem;
}

.detailpage svg {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 30px;
}

.detailpage svg:hover {
  transform: scale(1.2);
}
