.products-page {
  text-align: center;

  background-color: rgba(206, 205, 205, 0.237);
}

.products-page section {
  background: url(/img/shop.jpg) no-repeat center;
  background-size: cover;
  height: 30vh;
  margin-bottom: 4rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  align-items: flex-start;

  padding: 2rem;
}

.products-container div {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */

  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  padding: 1rem;

  height: auto;
}

.products-container img {
  max-width: 60%;
  /* height: 300px; */
  margin-bottom: 2rem;
}

.products-page h2,
.products-container h5,
.products-container p {
  margin-bottom: 2rem;
}

/* # Media Queries */
@media only screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 567px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}
